h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.box{
    background-color: pink;
    color: white;
    margin: 10px;
    width: 15%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.violet{
    background-color: violet;
}

.blu{
    background-color: blueviolet;
}

.acqua{
    background-color: aquamarine;
}